APP_VERSION=dev
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_DB=retrovault
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-locally
PIXEL_TELEGRAM_BOT_TOKEN=
PIXEL_TELEGRAM_BOT_USERNAME=
PIXEL_TELEGRAM_WEBHOOK_SECRET=
PIXEL_TELEGRAM_ALLOWED_USER_IDS=
PIXEL_CONTEXT_REFERENCE_SECRET=
PIXEL_CONTEXT_REFERENCE_TTL_SECONDS=1800
PIXEL_TELEGRAM_WEBHOOK_MAX_BODY_BYTES=65536
PIXEL_TELEGRAM_MESSAGE_MAX_AGE_SECONDS=900
PIXEL_TELEGRAM_RETENTION_DAYS=30
PIXEL_TELEGRAM_TYPING_THRESHOLD_SECONDS=3
